/*body margin*/
body {
	margin: 2rem;
}

/*content container*/
.content-container {
	/*height: 450px;*/
}

/*beatbox header styling*/
.beatbox-header {
	font-size:  24px;
	line-height: 7;
	padding: 1rem;
	border: 1.5px solid black;
	text-align: center;
	height: 200px;
	width: 200px;
}