/*body margin*/
body {
	margin: 2rem;
}

/*content container*/
.content-container {

	/*height: 450px;*/
}

/*sign up container styling*/
.sign-container {
	width: 500px;
	height: 500px;
	background-color: black;

}
/*graphics container*/
.graphic-container {
	width: 500px;
	height: 500px;
	background-color: beige;
}

/*signup button style*/
#signUpModal {

}
